.intern00001 {
  width: 100%;
  margin-top: 165px;
}
.interFilterb1 {
  width: 82%;
  height: 80px;
  padding: 10px 9% 10px 9%;
  background-color: white;
  margin-top: 64px;
  border-top: 1px solid black;
}

.interFilterb1div {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}
#dispfilter > div {
  font-size: 13px;
  margin: 5px;
  background-color: #e0e0e0;
  padding: 5px;
  height: 1.375rem;
  border-radius: 20px;
}
#dispfilter > div > button {
  height: 1.25rem;
  border-radius: 1.25rem;
  background-color: grey;
  border: none;
  color: white;
  cursor: pointer;
  opacity: 0.5;
}
#dispfilter > div > span {
  padding-right: 4px;
}
#dispfilter > div > button:hover {
  opacity: 1;
}
.filterselectb1 {
  margin: 0.313rem;
  padding: 0.313rem;
  height: 1.563rem;
  flex-grow: 1;
  z-index: 100;
}

.filterselector {
  padding: 1%;
  height: 2.5rem;
}
.selectHead {
  border-bottom: 1px solid black;
  width: 100%;
  height: 100%;
}
.selectpopdown {
  width: 96%;
  padding: 2%;
  background-color: white;
  border-radius: 10px;
  z-index: 110;
  display: none;
}
.selectpopdown > div {
  width: 96%;
  padding: 2%;
}
.selectpopdown > div:hover {
  background-color: lightgray;
  cursor: pointer;
}
.filterselectSearch {
  margin: 5px;
  padding: 5px;
  height: 1.563rem;
  border-radius: 10px;
  flex-grow: 0.3;
  z-index: 100;
  background-color: #f2f2f2;
}
.filterselectSearch > div {
  display: flex;
  width: 100%;
  height: 100%;
}
.filterselectSearchinp {
  height: 100%;
  flex-grow: 2;
  border-bottom: 1px solid black;
}
.filterselectSearchbut {
  height: 100%;
  flex-grow: 1;
}
.filterselectSearchinp > input,
.filterselectSearchbut > button {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0px;
  margin: 0px;
  font-size: 1.063rem;
  background-color: inherit;
}
.filterselectSearchinp > input:focus {
  outline: none;
}
.filterselectSearchbut > button {
  background-color: #087cdd;
  border-radius: 5px;
  cursor: pointer;
}
.filterselectSearchbut > button:hover {
  background-color: rgb(5, 86, 154);
}
