*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: white;
    transition: all 0.5s ease;
}
.sidebar header{
    font-size: 22px;
    color: black;
    text-align: center;
    line-height: 70px;
    background: lightgray;
    user-select: none;
    
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: black;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn2, label #cancel{
    position: absolute;
    cursor: pointer;
    
    border-radius: 3px;
}
label #btn2{
    left: 0px;
    top: 25px;
    font-size: 35px;
    color: black;
    padding: 6px 12px;
    transition: all .5s;
}
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
    }
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked~label #btn2{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;
    position: fixed;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(to left ,white,white);
    
}
.color-line{
    background-color: red;
    color: white;
    padding: 10px;
    margin-top: 10px;
}
.color-line1{
    color: red;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    list-style-type: none;
    display: inline-block;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p {
    color: #555;
}
.logo{
    width: 85%;
}

#container{
    max-width: 1300px;
    margin: auto;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding: 10;
   
   
  

}
.col-2 img{
    max-width: 100%;
    padding: 10px 0;
    margin: 5px;
    
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px
}
.btn{
    display: inline-block;
    background-color: #ff5236;
    color: #555;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

#banner{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/background1.jpg) ;
    height: 80vh;
    background-size: cover ;
    background-position: center;
    color: #fff;
    width: 100%;

}
#banner h1{
   padding-top: 10px;
   
}
.search_job{
    padding:30px 0;
    margin: -50px 6% 50px;
    background-image: linear-gradient(to right,#84f5e2 ,#eaeff3);
   
}
.search_job .form-control{
    max-width: 250px;
    display: inline-flex;
    margin: 10px;
    border-radius: 0;
    box-shadow: none  !important;
    border: none !important;
    
}
.search_job .btn1{
    border-radius: 0 !important;
    box-shadow: none;
    display: inline-flex;
    margin: 5px;
    padding: 5px 20px;
    background-color: lightskyblue;
    color: white;
}

#categories{
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(4,250px);
}
#categories h1{
    text-align: center;
}
.box
{
   background-color: gray;
   margin: 5px;
}
.box h1 {
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 10px;
}


.small-container{
    max-width: 1080px;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    
    position: relative;
    color: #555;

}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);


}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}



/* testimonials */
#testimonial{
    padding-top: 100px;
    justify-content: space-around;
    

}
#testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    margin-bottom: 40px !important;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    flex-basis: 23%;
}
#testimonial img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
#testimonial p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
#testimonial h3{
    font-weight: bold;
    color: #555;
    font-size: 16px;
}


/* footer */
.footer{
    width: 100%;
   align-self: center;
   display: inline-block;

    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer .row>div{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
    margin-left: 20px;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;

}
.app-logo img{
    width: 140px;

}
hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;

}
.copyright{
    text-align: center;
}
.menu-icon{
   display: none;
    width: 28px;
   margin-left: 20px;
   
}
/* media queries */


